<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <header>
        <div class="px-3 text-bg-dark">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <h2>Clocking</h2>
                    </a>

                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="/home" class="nav-link text-secondary">
                                <i class="fa-solid fa-house-user"></i>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/calendar" class="nav-link text-white">
                                <i class="fa-regular fa-calendar-days"></i>
                                Calendar
                            </a>
                        </li>
                        <li>
                            <a href="/config" class="nav-link text-white">
                                <i class="fa-solid fa-gear"></i>
                                Configuration
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </header>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
